* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 2rem;
}

body {
  background-image: url("../img/pattern.jpg");
}

#logo {
  float: left;
}

nav {
  float: right;
  margin-right: 50px;
}

hr.solid {
  margin-top: 10px;
  margin-bottom: 40px;
  border-top: 1px solid #bbb;
}

.navigasi {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 10px 0;
  top: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 100px;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.featured-title {
  padding-top: 20px;
}

#article-list {
  margin-left: 10px;
  margin-right: 10px;
}
